<form method="post" action="/add">
     <fieldset>
        <h3>Add Quarterbacks</h3>
        <h4>Add a new quarterback to the list of candidates</h4>

        <div>
            <label for="name">FirstName:</label>
            <input type="text" id="firstname" name="firstname"
                   required />
            <input type="text" id="lastname" name="lastname"
                   required />
        </div>

        <div>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age"
                   required />
        </div>

        <div>
            <label for="hometown">Hometown:</label>
            <input type="text" id="hometown" name="hometown"
                   required />
        </div>

        <div>
            <label for="school">School:  </label>
            <input type="text" id="school" name="school"
                   required />
        </div>
       

        <Button>Add</Button>

   </fieldset>

    <style>
        
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        
        button{
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            float: right;
        }
    </style>
</form>

