{{#if problem}}
<h5 style="color: red;">
    There was an error with your {{problem}}.  Please try again.
</h5>
{{/if}}

<form method="post" action="/">

    <fieldset>
        <legend><b>Login</b></legend>
    
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
                   required />
        </div>
    
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   minlength="8" required/>
        </div>
    
        <button type="submit">Login</button>

        <p> &nbsp Don't have an account?  Sign up <a href="/signUp">here</a> </p>
       
    </fieldset>

     <style>
        
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=password] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        
        button{
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            float: left;
        }
    </style>

</form>