
<form method="post" action="/signUp">

    <fieldset>
        <legend>Sign Up</legend>
    
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
                   required />
        </div>
    
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   minlength="8" required
                   placeholder="8 characters minimum" />
        </div>

        <input type="submit" value="SignUp">

        <p>Already have an account?   Login <a href="/">here</a> </p>
    
    </fieldset>
    
</form>