<form>
    <h1>Querterback Finder </h1>

    <table style="width:100%">
        <tr>
            <th>Fullname</th>
            <th>School</th> 
            <th>Comp Ratio</th>
            <th>View</th>
        </tr>
    </table>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</form>

