<h1>Welcome to Escambia County voting system</h1>
<form method="post" action="/ballot">
    <label for="district">Choose a district:</label>
    <select id="district" name="district">
        <option value="1">District 1</option>
        <option value="2">District 2</option>
        <option value="3">District 3</option>
        <option value="4">District 4</option>
        <option value="5">District 5</option>
        <option value="6">District 6</option>
    </select><br /><br />

    <label for="voterId">Enter your voter id: </label>
    <input type="text" id="voterId" name="voterId"><br /><br />


    <input type="submit" value="Submit">

</form>
